<header>
  <div class="toolbar">
    <mat-toolbar color="transparent">
      <!-- <la-icon [icon]="'linkedin'"></la-icon> -->
      <img src="assets/img/linkedin.svg" class="logo" alt="">
      <la-input-autocomplete></la-input-autocomplete>
      <span class="example-spacer"></span>
      <la-header-icon class="header-link" icon="home" to="/"></la-header-icon>
      <la-header-icon class="header-link" icon="people" to="/people">
      </la-header-icon>
      <la-header-icon class="header-link" icon="business_center" to="/jobs"></la-header-icon>
      <la-header-icon class="header-link" icon="message" to="/messages"></la-header-icon>
      <la-header-icon class="header-link" icon="notification_important" to="/notifications"></la-header-icon>
    </mat-toolbar>
  </div>
</header>