<div class="feed-create">
  <mat-card class="feed-card-create">
    <mat-card-content>
      <div>
        <button class="feed-create-button">
          <mat-icon>edit</mat-icon>
          Start a post
        </button>
        <div class="feed-create-divider">
          <mat-divider></mat-divider>
        </div>
        <div class="feed-create-actions">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>camera_alt</mat-icon>
          </button>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>movie</mat-icon>
          </button>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>assignment</mat-icon>
          </button>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>chrome_reader_mode</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>