.feed-padding {
  padding: 10px 15px 0px!important;
}

.feed-card-post {
  margin: 15px 0px;
  padding: 0px!important;
}

.feed-card-post-related {
  /* float: left; */
  /* height: 100%; */
  /* display: inline-flex; */
  /* align-items: center; */
  padding-left: 10px;
  margin-bottom: 10px;
  /* position: relative; */
}

.feed-card-post-related > #name{
  font-weight: 500;
  color: rgba(0,0,0,.9);
  margin-right: 5px;
}

.feed-card-post-related > #action{
  color: rgba(0,0,0,.6);
}

.feed-card-post-header {
  width: 30%;
  height: 28px;
  float: right;
}

.feed-card-post-more {
  height: auto;
  position: relative;
  float: right;
  color: rgba(0,0,0,.6);
}

.feed-card-post-more:hover {
  color: #000;
}

.feed-card-post-divider {
  padding-bottom: 10px;
}

.feed-card-post-content-actor {
  display: flex!important;
}

.feed-card-post-content-actor-name {
  margin: 7px 7px 0px;
}

.feed-card-post-content-actor-description {
  margin: -3px 7px 0px;
}

.feed-card-post-content-actor-description > span {
  color: rgba(0,0,0,.6);
}

.feed-card-post-content-actor-time {
  color: rgba(0,0,0,.6);
  margin: -3px 7px 0px;
}

.feed-card-post-content-actor-time > mat-icon {
  font-size: 16px;
  padding-left: 4px;
}


.feed-post-content-body {
  margin-top: 5px;
  text-align: justify;
}

.feed-post-content-media {
  margin-top: 10px;
  height: 310px;
  width: 100%;
}

.feed-post-content-media > img {
  height: 100%;
  width: 100%;
}

.feed-post-content-reactions {
  margin: 10px 0px;
}