<mat-card class="feed-card-post">
  <div class="feed-card-post-header">
    <a href="" class="feed-card-post-more">
      <mat-icon>more_horiz</mat-icon>
    </a>
  </div>


  <div class="feed-card-post-related" *ngIf="post.related">
    <span id="name">{{ post.related.name }}</span>
    <span id="action">{{ post.related.action }} this</span>
  </div>

  <mat-divider *ngIf="post.related"></mat-divider>
  <mat-card-content class="feed-card-post-content" [ngStyle]="{'margin-top': post.related ? '20px' : '0px'}">
    <div class="feed-card-post-content-actor">
      <div>
        <la-avatar size="60" img="assets/img/profile.png"></la-avatar>
      </div>
      <div class="feed-card-post-content-actor-name">
        <span class="mat-body-strong">{{ post.actor.name }}</span>
        <span class="mat-caption-small">{{ post.actor.description }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
