.feed-padding {
  padding: 10px 15px 0px!important;
}

.feed-card-post {
  margin: 15px 0px;
  padding: 0px!important;
}

.feed-card-post-related {
  /* float: left; */
  /* height: 100%; */
  /* display: inline-flex; */
  /* align-items: center; */
  padding-left: 10px;
  margin-bottom: 10px;
  /* position: relative; */
}

.feed-card-post-related > #name{
  font-weight: 500;
  color: rgba(0,0,0,.9);
  margin-right: 5px;
}

.feed-card-post-related > #action{
  color: rgba(0,0,0,.6);
}

.feed-card-post-header {
  width: 30%;
  height: 28px;
  float: right;
}

.feed-card-post-more {
  height: auto;
  position: relative;
  float: right;
  color: rgba(0,0,0,.6);
}

.feed-card-post-more:hover {
  color: #000;
}

.feed-card-post-divider {
  padding-bottom: 10px;
}

.feed-card-post-content-actor {
  display: flex!important;
}

.feed-card-post-content-actor-name {
  margin: 7px 7px 0px;
}

.feed-card-post-content-actor-description {
  margin: -3px 7px 0px;
}

.feed-card-post-content-actor-description > span {
  color: rgba(0,0,0,.6);
}

.feed-card-post-content-actor-time {
  color: rgba(0,0,0,.6);
  margin: -3px 7px 0px;
}

.feed-card-post-content-actor-time > mat-icon {
  font-size: 16px;
  padding-left: 4px;
}


.feed-post-content-body {
  margin-top: 5px;
  text-align: justify;
}

.feed-post-content-media {
  margin-top: 10px;
  height: 310px;
  width: 100%;
}

.feed-post-content-media > img {
  height: 100%;
  width: 100%;
}

.feed-post-content-reactions {
  margin: 10px 0px;
}

.feed-post-content-reactions > mat-divider {
  left: 17px;
  width: 94%;
  margin: 5px 0px;
}

.feed-post-content-actions {
  height: 45px;
}

.button-post {
  background: none!important;
  border: none;
  cursor: pointer;
  padding: 5px!important;
  margin-right: 10px;
}

.button-post:hover {
  background-color: hsla(0,0%, 81.2%, .25)!important;
  color: rgba(0,0,0,.75);
  border-radius: 3px;
}

.button-post:focus {
  outline: none!important;
}

.button-post > div {
  display: flex;
  font-size: 1rem;
  font-family: inherit;
  color: rgba(0,0,0,.6);
}

.button-post > div > svg {
  font-size: 1.4rem;
  margin-right: 3px;
}

.button-post > div > img {
  width: 24px;
  height: 24px;
  margin-right: 3px;
}

.button-post > div > span {
  margin: auto;
  font-weight: 600;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: -59px;
  opacity: 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.2);
  border-radius: 300px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
}

.has-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-button {
  background: none!important;
  border: none;
  cursor: pointer;
  position: relative;
  top: 0px;
  transition: top ease 0.5s;
}


.tooltip-button:focus {
  outline: none;
}

.tooltip-button > img {
  width: 30px;
}

.tooltip-button:hover{
  top: -10px;
}


.love {
  color: var(--warm-red-60,#e55800);
}

.celebrate {
  color: var(--system-green-70,#2f7b15);
}

.interesting {
  color: var(--amber-60,#9b8443);
}

.like {
  color: #0073b1;
}