<div class="home-content">
  <div class="home-card-left">
    <mat-card class="home-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="home-card-content">
        <div class="home-card-img">
          <la-avatar size="90" img="assets/img/profile.png"></la-avatar>
        </div>
        <div class="home-card-title">
          <span class="mat-title">Lucas Alves</span>
          <p class="mat-small">Fullstack developer | Rock Content</p>
        </div>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>