.home-col-left {
  width: 216px!important;
}

.home-card-left {
  width: 100%;
}

.home-card {
  height: 300px;
}

.home-card-tags {
  height: auto!important;
}

.home-card-img {
 text-align: center;
}

.home-card-content {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  left: 0px;
  top: 68px;
  background: white;
  height: 70%;
  width: 95.5%;
}

.home-card-title {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 2px;
  position: relative;
}

.home-card-title > p {
  color: rgba(0,0,0,.6);
}

.home-card-info {
  margin-top: 10px;
  padding: 15px;
}

.home-card-info-row {
  margin-bottom: 30px;
}

.home-card-info-row > .description {
  color: rgba(0,0,0,.6);
  font-weight: 600;
  float: left;
}

.home-card-info-row > .number {
  color:#0073b1;
  font-weight: 600;
  float: right;
}

.tag {
  margin-bottom: 5px;
}

.tag > .tag-icon{
  color: rgba(0,0,0,.6);
  font-weight: 900;
  margin-right: 5px;
}

.tag > .tag-name{
  color: rgba(0,0,0,.6);
  font-weight: 500;
}

.card-title-blue {
  color: #0073b1;
  font-weight: 600;
}

.tags-group {
  margin-bottom: 10px;
}

.home-col-center {
  width: 600px!important;
  /* background-color: blue; */
  left: calc((22.2033% - 0.556667px + 1px) * 1)!important;
}

.home-col-right {
  width: 216px!important;
  background-color: green;
  left: calc((78.3333% - 0.556667px + 1px) * 1)!important;
}