.home-card-left {
  width: 216px;
}

.home-card {
  height: 300px;
}

.home-card-img {
 text-align: center;
}

.home-card-content {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  left: 0px;
  top: 68px;
  background: white;
  height: 70%;
  width: 95.5%;
}

.home-card-title {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 2px;
  position: relative;
}

.home-card-title > p {
  color: rgba(0,0,0,.6);
}

.home-card-info {
  margin-top: 10px;
  padding: 15px;
}

.home-card-info-row {
  margin-bottom: 30px;
}

.home-card-info-row > .description {
  color: rgba(0,0,0,.6);
  font-weight: 600;
  float: left;
}

.home-card-info-row > .number {
  color:#0073b1;
  font-weight: 600;
  float: right;
}