.home-col-left {
  width: 216px!important;
}

.home-col-center {
  width: 550px!important;
  /* background-color: blue; */
  height: 100%;
  margin-left: calc((2.2033% - 0.44343px + 1px) * 1)!important;
}

.home-col-right {
  width: 260px!important;
  height: 200px;
  padding: 10px;
  background-color: #fff;
  margin-left: calc((2.50% - 0.32px + 1px) * 1)!important;
}

.home-col-right-item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.home-col-right-title {
  height: 30px;
  width: 100%;
}

.home-col-right-title > span{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0,0,0,.9);
}

.home-col-right-item-title > span {
  display: block;
}

.home-col-right-item-title > span:first-of-type {
  font-size: 0.9rem;
  font-weight: 600;
}

.home-col-right-item-title > span:last-of-type {
  font-weight: 400;
  font-size: 0.7rem;
  color: rgba(0,0,0,.6);
  line-height: normal;
}

.home-col-right-item-title {
  width: 50%;
  padding-left:10px;
  margin: auto;
}

.home-col-right-item-follow {
  height: 30px;
  margin-left: 5px;
  margin: auto;
  background-color: #fff;
  border-color: #0073b1;
  color: #0073b1;
  border: solid 0.7px;
  cursor: pointer;
}

.home-card-left {
  width: 100%;
}

.home-card {
  height: 300px;
}

.home-card-tags {
  height: auto!important;
}

.home-card-img {
 text-align: center;
 margin: -45px auto 12px!important;
}

.home-card-content {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  left: 0px;
  top: 68px;
  background: white;
  height: 70%;
  width: 95.5%;
}

.home-card-title {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 2px;
  position: relative;
}

.home-card-title > p {
  color: rgba(0,0,0,.6);
}

.home-card-info {
  margin-top: 10px;
  padding: 15px;
}

.home-card-info-row {
  margin-bottom: 30px;
}

.home-card-info-row > .description {
  color: rgba(0,0,0,.6);
  font-weight: 600;
  float: left;
}

.home-card-info-row > .number {
  color:#0073b1;
  font-weight: 600;
  float: right;
}

.tag {
  margin-bottom: 5px;
}

.tag > .tag-icon{
  color: rgba(0,0,0,.6);
  font-weight: 900;
  margin-right: 5px;
}

.tag > .tag-name{
  color: rgba(0,0,0,.6);
  font-weight: 500;
}

.card-title-blue {
  color: #0073b1;
  font-weight: 600;
}

.tags-group {
  margin-bottom: 10px;
}




.home-content {
  display: flex;
}
